html, body, aside, div, p, nav, a,
i, ul, li, section, img, footer {
  padding: 0;
  margin: 0;
}

html {
  font-family: "source code pro", consolas, "Microsoft YaHei", "hiragino sans gb", "wenquanyi micro hei", sans-serif;
}

body {
  overflow: auto;
  margin: 0 auto;
  font-size: 1em;
  padding: 0;
  background-color: #eee;
}

form div > label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
  font-weight: normal;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.main {
  height: 100%;
  margin: 25px 15px;
  overflow: inherit;
}

.main .box {
  overflow: hidden;
  /*margin: -20px 30px;*/
  background: #fff;
  padding-bottom: 50px
}

.main .box .target {
  width: 20%;
  border: 1px solid #e4ecf3;
  box-shadow: 1px 2px 3px #f2f6f8;
  border-radius: 8px;
  background: #fff;
  padding: 22px;
  min-width: 220px;
  margin: 20px 0 0 2.1%;
  float: left;
  position: relative;
  overflow: hidden;
  transition: all .3s;
}

.main .box a {
  cursor: pointer;
}

.main .box .target:hover {
  transform: translateY(-5px)
}

.main .box .target .title {
  color: black;
  font-size: 16px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main .box .target .desc {
  color: gray;
  font-size: 18px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.login {
  margin: 7px;
  text-align: right;
  display: block;
}

.login > a {
  font-size: 1.3em;
  margin-right: 50px
}

.login .item {
  margin-left: 5px;
}

.logout {
  margin: 10px;
  padding: 20px;
  font-size: 22px;
}

.main-title {
  display: block;
  text-align: center;
}

.statement {
  font-size: 18px;
}

.manage .c-modal-container {
  width: 60%;
}

.footer {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  font-size: 16px;
}
